body {
    margin: 0 auto;
}

div.navbar {
    margin: 0;
    height: 53px;
    -webkit-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 20px -6px rgba(0, 0, 0, 0.75);
}

div.navbar>.top-left {
    text-align: left;
    line-height: 1.8;
    font-size: 28px;
    font-family: 'Suez One', serif;
}

div.container>.search>input {
    font-size: 20px;
    text-align: center;
    height: 28px;
    width: 24%;
    margin-left: 34%;
    margin-top: 51px;
    border-style: none;
    border-bottom:2.5px solid grey;
    
}
div.container>.search>input:focus {
    outline: none;
}

div.container>.search>.button {
    border:none;
    border-radius:4px;
    height: 35px;
    width: 59px;
}
